
*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  }
  body{
    font-family: "roboto";
  }

  table{
    background-color: #929292;
    margin: 10px;
    width: 400px;
  }
.tot {
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #3d3c3c;
  color: #fddd33;
}
  table td {
    padding: 10px;
    border: #3d3c3c 1px solid;
    color: #ffffff;
    width: 400px;
  
  }

  .cart-form {
    margin-top: 20px;
    background-color: #3d3c3c;
    padding: 7px;
    color: white;
  }
  .small-nav,
  #main-header {
    padding: 0 48px ;
   
  }
  .small-nav{
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  }
  
  .small-nav > .links {
    display: flex;
    gap: 10px;
    
  }
  
  .small-nav a {
    text-decoration: none;
    color: #6c757d;
  }
  .small-nav a:hover {
    text-decoration: underline;
    color: #6c757d;
  }
  .small-nav .lists2 {
    gap: 10px;
    display: flex;
  }
  .small-nav .lists2 ul {
    display: none;
  }
  .small-nav .lists2 .list3{
    background-color: white;
    padding: 7px 11px;
    margin: 7px 0;
    font-size: 0.875rem;
  }
  .small-nav .lists2 .list3 div::after{
  content: " ";
  display: inline-block;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 7px;
  
  }
  .small-nav .lists2 .list3:hover {
    background-color: #ececec;
    border-color: #e6e6e6;
  }
  .small-nav .lists2 .list3:hover > ul{
    display: block;
  }
  
  .small-nav .lists2 .list3 {
    position: relative
  }
  .small-nav .lists2 .list3 ul{
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0 , 0.15);
    min-width: 100%;
    right: 0;
    padding: 5px 0 ;
  
  }
  
  .small-nav .lists2 .list3 ul li{
  padding: 5px;
  color: #16181b;
  }
  
  .small-nav .lists2 .list3 ul li:hover{
    background-color: #f8f9fa;
    }
  
    .small-nav .lists2 .list3 ul li:active{
      background-color: #ffd333;
      color: #fff;
      }
    
  #main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  #main-header .logo {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffd333;
    display: flex;
  }
  
  #main-header .logo span{
    background-color: #3D464D;
    padding: 0.2rem 0.3rem;
  }
  #main-header .logo span:last-child{
    background-color: #ffd333;
    color: #3D464D;
  }
  
  .search form {
    display: flex;
  }
  
  .search input {
    border-radius: 0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    width: 350px;
  }
  
  .search input:focus {
    border-color: #ffefb3;
    outline: 0;
    box-shadow: none;
  }
  
  .search button {
    background-color: white;
    border: 1px solid #ced4da;
    padding: 0 10px;
    font-weight: 400;
    color: #ffd333;
    font-size: 1rem;
    border-left: none;
    
  }
  
  .page li{
  padding-top: 10px;
  background-color:#ffd333;
  color: #3D464D;
  width: 90px;
  font-size: 10px;
  }
  
  .page li:hover{
    background-color: white;
  }
  
  .customer {
    text-align: center;
  }
  
  .customer p::first-line {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.6rem;
  
  }
   .menu {
    background-color: #3D464D;
    color: white;
    font-family:system-ui;
    margin-top: 10px;
    
  
  }
  .menu .items {
    height: 50px;
  }
  .items li {
    list-style: none;
  }
  .menu .items li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .menu .items svg{
    float: right;
    padding: 3px;
    width: 8px;
  }
  .menu .items li:hover {
    color:  #ffd333;
    cursor: pointer;
  }
  .menu .items li:hover ul {
    display: block;
  }
  .menu .items > li {
    display: block;
    padding: 15px 10px;
    float: left;
   
  }
  .menu .items::after {
    content: "";
    display: block;
    clear: both;
  }
  .menu .items ul {
    display: none;
    position: absolute;
    padding-top: 10px;
    background-color:white;
    width: 100%;
    top: 100%;
    left: 0;
  }
  .menu .items ul > li {
    color: #6c757d;
    padding: 5px; 
  }
    .clearfix {
      clear: both;
    }
    
  .cate {
      background-color: #ffd333;
      color:#3D464D;
      width: 200px;
      height: 20px;
      margin-left: 50px;
    }
  
  .menu .items .cate:hover{
      color: white;
    }
  
  .ic {
      color: #ffd333;
      float: right;
      margin: 10px 10px;
    }
  
    .back{
      background-color: #F5F5F5;
      width: 100%;
    }
  
    .pho {
      background-color: #F5F5F5;
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: 66.33% 33.33%;
      grid-template-rows: 200px 200px;
      gap:20px;
      width:max-content;
      position:-webkit-sticky;
      margin-left: 250px;
      padding-top: 40px;
    }
  
    .pho img{
      -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
      filter: grayscale(70%);
    }
  
    .pho div{
      position: relative;
    overflow: hidden;
  
    }
  
    .pho :first-child{
      grid-row: 1/4;
    }
  
    .pho .texton button{
      background-color:#ffd333;
      background-repeat:no-repeat;
      color: black;
      padding: 10px 20px;
      border: 2px solid white;
      font-weight: bold; 
      margin-top: 20px;
      margin-right: 30%;
    }
  
    .pho .texton{
      position: absolute;
      top: 20%;
      left:10%;
      text-align: center;
      width: 400px;
      color:whitesmoke;
    }
  
    .pho .texton h1, h2, h4{
      margin-right: 30%;
      margin-bottom: 5px;
      text-shadow: 1px 1px #FF0000;
    }
  
    .pho .texton p{
      color: white;
      text-shadow: 1px 1px black;
      font-size: 20px;
    }
   
    .pho img:hover{
    transform:rotate(15deg) scale(1.6);
    transition: 3s;
    }
    .pho button:hover  {
        background-color: white;
        color:#ffd333;
        }
        
    .todo{
      display: flex;
      flex-wrap: wrap;
      padding: 50px 70px;
      justify-content: space-between;
      background-color: #F5F5F5;
      justify-items: center;
    }
    .todo > div{
      width: 185px;
      display: flex;
      background-color: white;
      color :#6c757d;
      padding: 25px 120px 20px 25px;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .todo p:first-letter{
      color:#ffd333;
    }
    .categ_list{
      background-color:#F5F5F5;
    }
  
    .categ_list h2{
      display: flex;
      padding: 30px 70px 20px 70px;
      font-weight: bold;
    }
    .categ_list h2:after {
      content: "";
      flex:auto;
      border-bottom: 2px solid rgba(201, 192, 192, 0.727);
      width: max-content;
    }
    .cat_flex{
      display: flex;
      flex-wrap: wrap;
      padding: 20px 70px;
      justify-content: space-between;
      row-gap: 20px;
    }
    .cat_flex >div{
      display: flex;
      height: 80px;
      width: 325px;
      background-color: white;
      overflow: hidden;
    }
    .categ_list img{
      width: 100%;
      height: 100%;
  
    }
    .cat_text {
      display: flex;
      gap:10px;
      flex-flow: column;
      width: 90%;
    padding-left: 30px;
    padding-top: 10px;
    }
    .citem:hover  {
    background-color: #ffd333;
    cursor: pointer;
    }
    .citem:hover img {
      transform:rotate(6deg) scale(1.2);
      transition: 2s;
      }
    .cat_text h5 {
    color: #3D464D;
    }
  
    @media only screen and (max-width: 1000px) {
      .pho {
        grid-template-columns: 100%;
      }
  
      .main_menu > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .cat li:hover ul {
      left: 50%;
    }
  }

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #fddd33;
    background-color: #65696c;
    text-align: left;
    margin: 10px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.btn-primary {
    color: white;
    background-color: #3d3c3c;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin: 10px;
}

.btn-primary:hover {
    background-color: #fddd33;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    text-align: center;
    color: #333;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #fddd33;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.shop-item img {
  height: 200px;
  width: 150px;
  margin: 10px;
}